
<script languaje="Javascript">
    //Modificado por: SHARON ALEJANDRA CALCINA
    //Programa: RUTA CRITICA (RC)
    //          de 3 pasos, maximización,
    //          minimización y control RC
    //Autor: Reynaldo Zeballos
    
    t = new Array();
    
    
    t[0] = [1,"tarea 1-2",8,"0",0,0];
    t[1] = [2,"tarea 1-4",6,"0",0,0];
    t[2] = [3,"tarea 2-4",4,"1",0,0];
    t[3] = [4,"tarea 2-5",8,"1",0,0];
    t[4] = [5,"tarea 4-3",8,"2;3",0,0];
    t[5] = [6,"tarea 1-3",7,"0",0,0];
    t[6] = [7,"tarea 3-6",8,"6;5",0,0];
    t[7] = [8,"tarea 5-7",6,"4",0,0];
    t[8] = [9,"tarea 4-7",12,"2;3",0,0];
    t[9] = [10,"tarea 6-7",9,"7",0,0];
    t[10] = [11,"tarea 6-8",7,"7",0,0];
    t[11] = [12,"tarea 7-8",3,"8;9;10",0,0];
    listamax=[];
    //MAXIMIZACION
    for (i=0;i<t.length;i++){
        if (t[i][3]==0){
            dur = t[i][2];   
        }
        else{
            pred=t[i][3];
            if(pred.indexOf(";") == -1){
                pred--;
                v=t[pred][2] + t[pred][4];
                t[i][4]=v;
            }
            else{
                pv =pred.split(";");
                mx=0;
                for (j=0;j<pv.length;j++){
                    pred = pv[j]-1;
                    v= t[pred][2] + t[pred][4];
                    if(v > mx) mx = v;
                }
                t[i][4] = mx;
                listamax.append(mx);
            }
            
        }
    }
    print(listamax)

    maximo=Math.max(t);
    print(maximo)
    //MINIMIZACION y control RC
    
    /*for (i=t.length-1;i>=0;i--){
        if (t[i][3]==0){
                dur = t[i][2];
                
            }
            else{
                pred=t[i][3];
                if(pred.indexOf(";") == -1){
                    pred--;
                    v=t[pred][2] + t[pred][4];
                    t[i][4]=v;
                }
                else{
                    pv =pred.split(";");
                    mx=0;
                    for (j=0;j<pv.length;j++){
                        pred = pv[j]-1;
                        v= t[pred][2] + t[pred][4];
                        if(v > mx) mx = v;
                    }
                    t[i][4] = mx;
                }
                
            }
            
    }*/
    
    document.write("<table border=1");
    for(i=0;i<t.length;i++){
        document.write("<tr>");
        document.write("<td>");
        document.write(t[i][0]);
        document.write("</td><td>");
        document.write(t[i][1]);
        document.write("</td><td>");
        document.write(t[i][2]);
        document.write("</td><td>");
        document.write(t[i][3]);
        document.write("</td><td>");
        document.write(t[i][4]);
        document.write("</td><td>");
        document.write(t[i][5]+"</td>");
        document.write("</tr>");
        
    }
    document.write("</table");
    //document.write(maximo);
    </script>
    
    

    document.write("<h1>RUTA CRITICA</h1>");
for (i=t.length-1;i>=0;i--){
	if(t[i][4]==t[i][5]){
		document.write(t[i][1]+ "     ;    ");
	}
}
document.write("</br>");
document.write("</br>");

document.write("N: "+maxmax);
document.write("</br>");document.write("</br>");